@import "tailwindcss";
html, body, #__next {
  height: 100%;
}

body {
  font-family: var(--font-urbanist), sans-serif;
}

/* For Webkit browsers (Chrome, Safari, Edge, Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
}

/* For IE and Edge (older versions) */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
}
/* In your global CSS file, e.g., frontend/app/globals.css */
@keyframes pulse-slow {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}
.animate-pulse-slow {
  animation: pulse-slow 2.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}


@keyframes zoom {
  0%   { transform: scale(0.4); opacity: 0; }
  100% { transform: scale(1);   opacity: 1; }
}


.Toastify__toast-container {
  right: 0 !important;
  margin-right: 0 !important;
  padding-right: 0 !important;
  top: 1rem !important;

}


/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
@layer utilities {
  .custom-scrollbar {
    scrollbar-width: thin;              /* Firefox */
    scrollbar-color: #888 #f1f1f1;      /* Firefox */
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: #f1f1f1;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
    min-height: 40px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .custom-scrollbar::-webkit-scrollbar-button {
    display: none;
    height: 0;
    width: 0;
  }

  .custom-scrollbar::-webkit-scrollbar-corner {
    background: transparent;
  }
}
